/* ohmyfood color variables */
:root {
  --main-primary: #9356dc;
  --main-secondary: #ff79da;
  --main-tertiary: #99e2d0;
  --omf-update: #008766;
  --omf-background: #f6f6f6;
  --omf-dark: #353535;
  --omf-light: #ffffff;
  --omf-shadow: #d6d6d6;
  --omf-dark-shadow: #b3b3b3;
  --omf-black: #000000;
  --omf-text: #101010;
  --omf-dark-background: #eaeaea;
}

/* Body & Main styling */
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: var(--omf-background);
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--omf-black);
}

/* location bar styling */
.location-bar {
  background-color: var(--omf-dark-background);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.location-bar .localization-icon {
  color: var(--omf-dark);
  margin-right: 5px;
}

/* Explorer styling */
.explorer-container {
  height: 250px;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.explorer-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  text-align: center;
}

.explorer-text-container span {
  color: var(--omf-dark);
}

.explorer-text-container h1 {
  margin: 0px;
}

.explorer-button {
  width: 225px;
  height: 50px;
  background: var(--main-secondary);
  background: linear-gradient(
    180deg,
    var(--main-secondary) 0%,
    var(--main-primary) 100%
  );
  color: var(--omf-light);
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explorer-button:hover {
  background: linear-gradient(
    180deg,
    var(--main-secondary) 100%,
    var(--main-primary) 100%,
    var(--omf-light)
  );
}

/* How it works styling */
.how-it-works h1 {
  padding: 15px;
}

.how-it-works {
  width: 100%;
  background-color: var(--omf-light);
  padding: 15px 0px 50px 0px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.step {
  background-color: var(--omf-background);
  width: 310px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: var(--main-primary);
  color: var(--omf-light);
  border-radius: 50%;
  font-weight: bold;
  margin-left: -25px;
}

.step .hiw-icon {
  margin-right: 10px;
  transition: 0.3s;
}

.step {
  cursor: pointer;
  font-weight: bold;
}

.step:hover .hiw-icon {
  color: var(--main-primary);
}

.hiw-icon {
  transition: color 0.3s, background 0.3s;
  transition: 0.25s ease-in-out;
}

/* Restaurant cards styling */
.content {
  flex: 1;
  padding: 25px;
}

.card-container {
  padding: 25px 0 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  position: relative;
  background-color: var(--omf-light);
  color: black;
  width: 100%;
  height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 15px;
  overflow: hidden;
}

.card picture,
.card img {
  width: 100%;
  height: 190px;
  flex-grow: 1;
  object-fit: cover;
}

.card-text {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.card:hover {
  transform: translateY(-3px);
}

.update {
  width: 80px;
  height: 29px;
  font-weight: bold;
  background-color: var(--main-tertiary);
  color: var(--omf-one);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 10px;
}

.card-content {
  width: 100%;
  padding-left: 15px;
  padding-bottom: 10px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5px;
}

.name {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.description {
  display: block;
  font-size: 17px;
}

.card .heart-icon {
  position: absolute;
  right: 25px;
  top: 5px;
}

.heart-icon {
  font-size: 25px;
  transition: color 0.3s, background 0.3s;
  transition: 0.25s ease-in-out;
}

.heart-icon:hover::before {
  content: "\f004"; /* Unicode for solid heart */
  font-family: "Font Awesome 5 Free";
  font-weight: bolder;
}

.heart-icon:hover {
  color: var(--main-primary);
}

/* Image styling */
.restaurant-image {
  width: 100%;
  height: 275px;
}

.restaurant-image img {
  width: 100%;
  object-fit: cover;
}

/* Restaurant menu styling */
.heart-icon-m,
.fill-heart-icon-m {
  font-size: 25px;
  position: absolute;
  right: 50px;
  transition: 0.25s ease-in-out;
}

.restaurant-menu-container {
  height: 100%;
  width: 100%;
  background-color: var(--omf-background);
  position: relative;
  margin-top: -75px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.restaurant-name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 40px;
}

.menu-card {
  width: 100%;
  background-color: var(--omf-light);
  border-radius: 15px;
  margin: 10px;
  padding: 15px 10px;
  box-shadow: 10px 5px 5px var(--omf-shadow);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.starter,
.main,
.dessert {
  align-self: flex-start;
}

.heart-icon-menu {
  font-size: 24px;
}

.ohmyfood-title {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}

.item,
.price {
  font-size: 18px;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: space-between;
}

.main,
.dessert,
.starter {
  border-bottom: 3px solid var(--main-tertiary);
  display: block;
  width: 40px;
}

.line {
  font-size: 16px;
}

.order-button {
  margin-top: 25px;
  width: 186px;
  height: 50px;
  background: var(--main-secondary);
  background: linear-gradient(
    180deg,
    var(--main-secondary) 0%,
    var(--main-primary) 100%
  );
  color: var(--omf-light);
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}

.order-button:hover {
  background: linear-gradient(
    180deg,
    var(--main-secondary) 100%,
    var(--main-primary) 100%,
    var(--omf-light)
  );
}

.menu-card {
  cursor: pointer;
}

/* Restaurant menu card animation */
.menu-card {
  position: relative;
}

.description {
  animation: check-out-pause 0.75s;
  animation-fill-mode: forwards;
}

.item-check {
  position: absolute;
  padding: 0px 20px;
  background-color: var(--main-tertiary);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: var(--omf-light);
  display: none;
  flex-direction: column;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  left: 100%;
  right: 0px;
  top: 0;
}

.menu-card:hover > .item-check {
  align-items: center;
  animation: check-icon-in 0.25s;
  animation-fill-mode: forwards;
  display: flex;
  visibility: visible;
}
.menu-card:not(:hover) > .item-check {
  align-items: center;
  animation: check-icon-out 0.5s;
  animation-fill-mode: forwards;
  display: flex;
}

.menu-card:hover > .item-check .fa-check-circle {
  animation: check-icon-rotation 0.5s;
  animation-fill-mode: forwards;
}
.menu-card:hover .item,
.menu-card:hover .description {
  animation: check-in-pause 0.125s;
  animation-fill-mode: forwards;
}

/* Header & Footer styling */
header,
footer {
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--omf-light);
  color: var(--omf-text);
  box-shadow: 0px 0px 5px var(--omf-dark-shadow);
}

footer {
  color: var(--omf-light);
  background-color: var(--omf-dark);
  padding: 25px;
}

.header-content {
  height: 63px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  height: 186px;
}

.footer-link {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-content .arrow {
  position: absolute;
  left: 15px;
  font-size: 24px;
  top: 20px;
}

.header-logo,
.footer-logo {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}

.footer-content a {
  color: var(--omf-light);
}

.footer-link .f-icon {
  margin-right: 10px;
}

/* MENU ANIMATION */

@keyframes apparition-item {
  from {
    opacity: 0%;
    transform: translateY(25px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

@keyframes check-icon-rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes check-icon-in {
  from {
    left: 96%;
  }
  to {
    left: 80%;
  }
}
@keyframes check-icon-out {
  0% {
    left: 80%;
  }
  99% {
    left: 96%;
  }
  100% {
    opacity: 0;
    width: fit-content;
  }
}

@keyframes check-out-pause {
  from {
    width: calc(100% - 20%);
  }
  to {
    width: calc(100% - 4%);
  }
}

@keyframes check-in-pause {
  from {
    width: calc(100% - 4%);
  }
  to {
    width: calc(100% - 20%);
  }
}

/* Desktop view / larger screen styling */
@media (min-width: 992px) {
  .header-content {
    height: 96px;
  }

  .footer-content {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .footer-logo {
    padding: 0 75px 0 0;
  }

  .footer-link {
    display: flex;
    gap: 50px;
    padding-right: 50px;
    flex-direction: row;
  }

  .header-content .arrow {
    top: 33px;
    left: 17px;
  }

  .how-it-works h1 {
    padding: 25px 150px 10px 150px;
  }

  .steps-container {
    padding: 0 175px 50px 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
  }

  .step {
    width: 335px;
  }

  .card {
    width: 45%;
  }

  .card-container {
    padding: 25px 0 50px 0;
  }

  .content {
    padding: 25px 150px 25px 150px;
  }

  .restaurant-image img {
    height: 375px;
  }

  .restaurant-menu-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--omf-light);
  }

  .restaurant-name-container {
    width: 330px;
  }

  .restaurant-menu-container {
    width: 1055px;
    padding: 50px 210px 0 210px;
  }

  .menu-card {
    width: 634px;
  }

  .heart-icon-m,
  .fill-heart-icon-m {
    position: absolute;
    right: 35%;
  }
}
