/* ohmyfood color variables */
:root {
  --main-primary: #9356dc;
  --main-secondary: #ff79da;
  --main-tertiary: #99e2d0;
  --omf-one: #008766;
  --omf-two: #89c8fa;
  --omf-three: #003a68;
  --omf-four: #f3f3f3;
  --omf-five: #353535;
  --omf-six: #ffffff;
  --omf-background: #f6f6f6;
  --omf-eight: #eaeaea;
  --omf-nine: #b3b3b3;
  --omf-ten: #000000;
  --omf-shadow: #d6d6d6;
  --omf-text: #101010;
  --omf-localization-icon: #353535;
}

/* Body & Main styling */
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  background-color: var(--omf-background);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: var(--omf-ten);
}

/* location bar styling */
.location-bar {
  margin-top: 62.5px;
  background-color: var(--omf-eight);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Explorer styling */
.explorer-container {
  height: 240px;
  display: flex;
  justify-content: center;
  margin: 15px 15px 30px 15px;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  text-align: center;
}

.explorer-btn {
  width: 225px;
  height: 50px;
  background: var(--main-secondary);
  background: linear-gradient(
    180deg,
    var(--main-secondary) 0%,
    var(--main-primary) 100%
  );
  color: var(--omf-six);
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explorer-btn:hover {
  background: linear-gradient(
    180deg,
    var(--main-secondary) 100%,
    var(--main-primary) 100%,
    var(--omf-six)
  );
}

/* How it works styling */

.how-it-works h1 {
  padding: 15px;
}

.how-it-works {
  width: 100%;
  background-color: var(--omf-six);
  padding: 15px 0px 50px 0px;
}

.steps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.step {
  background-color: var(--omf-background);
  width: 310px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px;
  gap: 15px;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: var(--main-primary);
  color: var(--omf-six);
  border-radius: 50%;
  font-weight: bold;
  margin-left: -25px;
}

/* Restaurant cards styling */

.restaurant-cards-container h1 {
  padding: 15px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  padding-bottom: 60px;
}

.card {
  width: 340px;
  height: 260px;
  border-radius: 15px;
  background-color: var(--omf-six);
}

.card-image-box {
  position: relative;
  width: 100%;
  height: 200px;
}

.card-image-box img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: auto;
}

.update {
  width: 80px;
  height: 29px;
  background-color: var(--main-tertiary);
  color: var(--omf-one);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 10px;
}

.card-content {
  padding: 10px 15px;
  position: relative;
  box-sizing: border-box;
}

.restaurant-name {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.restaurant-desc {
  display: block;
  font-size: 17px;
}

.heart-icon {
  position: absolute;
  font-size: 25px;
  right: 25px;
  top: 25%;
}

/* Header & Footer styling */
header,
footer {
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  background-color: var(--omf-six);
  color: var(--omf-text);
  box-shadow: 0px 0px 5px var(--omf-nine);
}

footer {
  color: var(--omf-six);
  background-color: var(--omf-five);
  padding: 25px;
}

.header-content {
  height: 63px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content {
  height: 186px;
}

.footer-link {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-content .arrow {
  position: absolute;
  left: 15px;
  font-size: 24px;
  top: 20px;
}

.header-logo,
.footer-logo {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}

.footer-content a {
  color: var(--omf-six);
}

/* Image styling */
.restaurant-image {
  width: 100%;
  height: 275px;
}

.restaurant-image img {
  width: 100%;
  object-fit: cover;
}

/* Restaurant Menu */

.restaurant-menu-container {
  height: 100%;
  width: 100%;
  background-color: var(--omf-background);
  position: relative;
  margin-top: -75px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.restaurant-name-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-top: 40px;
}

.menu-card {
  width: 100%;
  background-color: var(--omf-six);
  border-radius: 15px;
  margin: 10px;
  padding: 15px 10px;
  box-shadow: 10px 5px 5px var(--omf-shadow);
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.starter,
.main,
.dessert {
  align-self: flex-start;
}

.heart-icon-menu {
  font-size: 24px;
}

.ohmyfood-title {
  font-family: "Shrikhand", cursive;
  font-size: 1.6em;
}

.item,
.price {
  font-size: 18px;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: space-between;
}

.main,
.dessert,
.starter {
  border-bottom: 3px solid var(--main-tertiary);
  display: block;
  width: 40px;
}

.line {
  font-size: 16px;
}

.order-button {
  margin-top: 25px;
  width: 186px;
  height: 50px;
  background: var(--main-secondary);
  background: linear-gradient(
    180deg,
    var(--main-secondary) 0%,
    var(--main-primary) 100%
  );
  color: var(--omf-six);
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}

.order-button:hover {
  background: linear-gradient(
    180deg,
    var(--main-secondary) 100%,
    var(--main-primary) 100%,
    var(--omf-six)
  );
}

/* Desktop view */
@media (min-width: 992px) {
  body {
    display: flex;
  }

  .header-content {
    height: 96px;
  }

  .footer-content {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .footer-logo {
    padding: 0 75px 0 0;
  }

  .footer-link {
    display: flex;
    gap: 50px;
    padding-right: 50px;
    flex-direction: row;
  }

  .header-content .arrow {
    top: 33px;
    left: 17px;
  }

  .location-bar {
    margin-top: 95.5px;
  }

  .how-it-works h1 {
    padding: 50px 0 50px 190px;
  }

  .steps-container {
    padding: 0 175px 50px 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
  }

  .step {
    width: 335px;
  }

  .restaurant-cards-container h1 {
    padding: 50px 0 50px 190px;
    align-self: flex-start;
  }

  .restaurant-cards-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .cards-container {
    width: 1080px;
    padding: 0 175px 100px 175px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }

  .card {
    width: 490px;
  }

  .restaurant-image {
    height: 479px;
  }

  .restaurant-image img {
    height: 100%;
    object-fit: cover;
  }

  .restaurant-menu-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--omf-six);
  }

  .restaurant-name-container {
    width: 330px;
  }

  .restaurant-menu-container {
    width: 1055px;
    padding: 50px 210px 0 210px;
  }

  .menu-card {
    width: 634px;
  }
}
